*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 100%;

}
.container{
    margin: 0  auto;
    width: 80%;
    padding: 30px 60px;
}
.container .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    color: rgba(0, 0, 0, 0.378);
}
.header b{
    font-size: 35px;
}
.header i{
    color: rgba(0, 0, 0, 0.378);
}
sub{
    color: rgba(0, 0, 0, 0.378);
    font-weight: 200;
}
.container .content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
} 
.content .lnk{
    color: cornflowerblue;
}
.content .box{
    padding: 20px;
    border: 5px solid rgba(0, 0, 0, 0.15);
}
.box-1 b{
    color: rgba(35, 115, 235, 0.734);
    margin-bottom: 10px;
    font-size: 20px;
}
.box h1{
    margin-top: 10px;
    font-size: 30px;
}

.box-2 b{
    color: rgb(25, 225, 25);
    margin-bottom: 10px;
    font-size: 20px;
}

.box p{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.755);
    font-family: Arial, Helvetica, sans-serif;
}
